@import "tailwindcss";

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease forwards;
}


@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .animate-scroll {
    display: flex;
    animation: scroll 25s linear infinite;
    width: max-content;
  }
  
  .animate-scroll:hover {
    animation-play-state: paused;
  }
  